
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/config/parameters.yaml
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###


# IDEs
/.buildpath
/.project
/.settings/
/.idea/
/nbproject/

# PHP-CS-Fixer
/.php_cs.cache

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
