/*------------------------------------*\
    #DEBUG
    A stylesheet which will highlight HTML errors.
\*------------------------------------*/
@if $debug == true {
    /* ----------------------------------------------------------
      Missing or bad properties
    ---------------------------------------------------------- */

    /* Missing lang in HTML
    -------------------------- */
    html[lang=""] {
        outline: 5px dashed #f00 !important;
    }

    /* Missing or invalid href
    -------------------------- */

    a[href=""],
    a[href="#"],
    a[href^="javascript"],
    a:not([href]) {
        outline: 5px dashed #f00 !important;
    }

    /* Forms
    -------------------------- */
    label:not([for]),
    input:not([type]),
    form:not([action]),
    form:not([method]),
    form[method=""],
    form button:not([type]) {
        outline: 5px dashed #f00 !important;
    }

    /* Images
    -------------------------- */
    img:not([alt]) {
        outline: 5px dashed #f00 !important;
    }

    /* Empty attributes
    -------------------------- */
    [id=""],
    [class=""],
    [name=""],
    [for=""] {
        outline: 5px dashed #f00 !important;
    }

    /* ----------------------------------------------------------
      Invalid HTML
    ---------------------------------------------------------- */

    /* Invalid child
    -------------------------- */
    a > a,
    button > input,
    button > select,
    button > textarea,
    button > label,
    button > button,
    button > form,
    button > fieldset,
    button > iframe,
    label > label,
    form > form,
    dl > *,
    form > form,
    form > input,
    form > textarea,
    form > button,
    p div,
    pre > img,
    pre > object,
    pre > big,
    pre > small,
    pre > sub,
    pre > sup,
    tbody > *,
    ol > *,
    ul > * {
        outline: 5px dashed #f00 !important;
    }

    tbody > tr,
    ol > li,
    ul > li,
    dl > dd,
    dl > dt {
        outline: 0 !important;
    }

    /* Invalid order
    -------------------------- */
    tbody + tfoot td {
        background: #f00 !important;
    }


    /* ----------------------------------------------------------
      Empty elements
    ---------------------------------------------------------- */
    section:empty,
    form:empty,
    span:empty,
    div:empty {
        display: block !important;
        position: static !important;
        padding: 10px !important;
        background: #ff0 !important;
    }
}
