/**
 * CONTENTS
 *
 * VARIABLES
 * Debug............ Debug mode
 * Colors........... All website colors
 * Themes........... Themes for clinic
 * Typography....... Font-family, font-size, line-height
 * Buttons.......... Buttons informations
 * Form............. Input, select style
 * Media Queries ... Breakpoint for responsive
 * Grid ............ Grid col and gutter
 */

/*------------------------------------*\
    #DEBUG
    True for activate debug mode
\*------------------------------------*/
$debug: false !default;

/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/* Brand colors */
$c-primary: #7CB4F0;
$c-secondary: #BD774F;

/* Gray and others */
$c-gray-lighter: #f1f1f1;
$c-gray-light: #e3e3e3;
$c-gray: #999;
$c-gray-dark: #333;
$c-gray-darker: #111;

/* Text color */
$c-txt: #333;

/* Selection color */

$c-selection-color: #fff;
$c-selection-background: $c-primary;

/* Links colors */
$c-link: $c-primary;

/* Notifications colors */
$message-types: (
        error :(
                color: #d9534f,
                bg: #fcf0ec,
                border: #d9534f
        ),
        warn :(
                color: #f0ad4e,
                bg: #fef7ee,
                border: #f0ad4e
        ),
        success :(
                color: #5cb85c,
                bg: #f2f8f1,
                border: #5cb85c
        ),
        info :(
                color: #5bc0de,
                bg: #f2f9fc,
                border: #5bc0de
        )
);

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
$fs-base: 1.6em;
$ff-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$ff-heading: Georgia, "Times New Roman", serif;

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
$input-bg: #fff;
$input-radius: 0;
$input-padding: 1.3rem 1rem;
$input-border: 1px solid $c-gray-light;

/*------------------------------------*\
    #MEDIA-QUERIES
\*------------------------------------*/
// Extra small screen / phone
$screen-xs: 30em !default;
$screen-xs-min: $screen-xs !default;

// Small screen / tablet
$screen-sm: 48em !default;
$screen-sm-min: $screen-sm !default;

// Medium screen / desktop
$screen-md: 62em !default;
$screen-md-min: $screen-md !default;

// Large screen / wide desktop
$screen-lg: 75em !default;
$screen-lg-min: $screen-lg !default;

// Large screen / wide desktop
$screen-xlg: 87.5em !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/
// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

$mq-base-font-size: $fs-base;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
        null: 0em, // we need null for spacing code
        mobile: $screen-xs,
        tablet: $screen-sm,
        desktop: $screen-md,
        wide: $screen-lg,
    // Tweakpoints
        phablet: 37.5em,
        mobileLandscape: 30em,
        xwide: $screen-xlg
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
$mq-show-breakpoints: ();

/*------------------------------------*\
    #GRID
\*------------------------------------*/

//** Number of columns in the grid.
$grid-columns: 12 !default;
$grid-gutter-width: (20 / ($fs-base * 10)) * 1em !default;

//== Container sizes
// Small screen / tablet
$container-tablet: (45em + $grid-gutter-width) !default;
$container-sm: $container-tablet !default;

// Medium screen / desktop
$container-desktop: (58.75em + $grid-gutter-width) !default;
$container-md: $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop: (71.25em + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;

// Container max-width
$container-mw: 120rem;
