
.assets-table {
    width: 100%;
    border: 1px solid $c-gray-light;
    margin-bottom: 2rem;

    &__head {
        background: $c-gray-light;
        padding: 0 1rem;
    }

    &__body {
        max-height: 185px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 1rem;

        .translation-row {
            cursor: pointer;

            &.-pending {
                font-weight: bold;
            }

            &:hover {
                background: $c-gray-lighter;
            }

            &.-active {
                background: $c-primary;
                color: #fff;
            }

            div {
                font-size: 1.4rem;
            }
        }
    }

    .-source, .-id {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}