/*------------------------------------*\
#BROWSE HAPPY. DIE IE8, DIE!!!
\*------------------------------------*/
.browsehappy {
    background: map-get(map-get($message-types, 'warn'), 'bg');
    color: map-get(map-get($message-types, 'warn'), 'color');
    border: 1px solid map-get(map-get($message-types, 'warn'), 'border');
    padding: 20px;
    text-align: center;

    p {
        max-width: 128rem;
        margin: 0 auto;
    }

    a {
        color: map-get(map-get($message-types, 'warn'), 'color');
    }
}
