/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
.btn {
    display: inline-block;
    text-align: center;
    padding: 1.5rem 3rem;
    border: none;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    transition: background 250ms ease-in, color 250ms ease-in;
}

/*
** BTN PRIMARY
*/
.btn-primary {
    border: 1px solid $c-primary;
    background: $c-primary;
    color: #fff;

    &:hover,
    &:focus {
        background: #fff;
        color: $c-primary;
    }
}

.btn-outline-primary {
    border: 1px solid $c-primary;
    background: transparent;
    color: $c-primary;

    &:hover,
    &:focus {
        background: $c-primary;
        color: #fff;
    }
}

/*
** BTN SECONDARY
*/
//.btn-secondary {
//    border: 1px solid $c-secondary;
//    background: $c-secondary;
//    color: #fff;
//
//    &:hover,
//    &:focus {
//        background: #fff;
//        color: $c-secondary;
//    }
//}
//
//.btn-outline-secondary {
//    border: 1px solid $c-secondary;
//    background: transparent;
//    color: $c-secondary;
//
//    &:hover,
//    &:focus {
//        background: $c-secondary;
//        color: #fff;
//    }
//}
