
.domain-card {
    background: $c-gray-light;
    border: 1px solid $c-gray-lighter;
    padding: 1rem;
    flex-basis: 50%;

    &-list {
        display: flex;
        margin: 2rem 0 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 0;
    }

    &__meta {
        margin: 1rem 0;
    }

    &__locales {
        @extend %unstyled-list;
        display: inline-block;

        li {
            display: inline-block;

            img {
                width: 2.5rem;
            }
        }

        &:after {
            content: "-";
            padding: 0 1rem;
        }
    }

    &__progressbar {
        width: 100%;
        height: 2.5rem;
        margin: 1rem 0;
        background-color: $c-gray-lighter;

        .-progress {
            display: block;
            height: 2.5rem;
            background: map_get(map_get($message-types, success), color);
        }
    }

    &__actions {
        text-align: right;
    }
}