
.card {
    &-locales {
        list-style-type: none;
        padding: 0;
        display: inline-block;

        li {
            display: inline-block;

            img {
                width: 2rem;
            }
        }

        &:after {
            content: "-";
            padding: 0 1rem;
        }
    }

    &-progressbar {
        width: 100%;
        height: 2rem;
        margin: 1rem 0;
        background-color: $gray-300;

        .-progress {
            display: block;
            height: 2rem;
            background: map_get($theme-colors, success);
        }
    }

    &-actions {
        text-align: right;
    }
}