/*------------------------------------*\
    #ICONS - SVG SPRITE
\*------------------------------------*/
[class^="icon-"],
[class*=" icon-"] {
    line-height: 1;
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
}
