/*------------------------------------*\
    #BASE
\*------------------------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background: $c-selection-background;
    color: $c-selection-color;
    text-shadow: none;
}

::selection {
    background: $c-selection-background;
    color: $c-selection-color;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
    max-width: 100%;
}

figure {
    margin: 0;
}

.main,
.main-nav {
    &:focus {
        outline: 0;
    }
}