parameters:
    # Translations
    locale: fr
    available_locales: ['fr']

    # Doctrine
    database_url: 'mysql://db_user:db_password@127.0.0.1:3306/db_name'

    # API
    cors_allow_origin: '^https?://localhost:?[0-9]*$'
    jwt_private_key_path: var/jwt/private.pem
    jwt_public_key_path: var/jwt/public.pem
    jwt_passphrase: password

    # Import / Export
    import_translation_folder: '%kernel.project_dir%/var/translation_files'

    # Analytics
    ga_tracking: UA-XXXXX-XX