/* ==========================================================================
     Form basic style
    thanks to HTML5boilerplate,
    github.com/nathansmith/formalize
    and www.sitepen.com
     ========================================================================== */
/*
* forms items
*/
button {
    -webkit-appearance: none;
}

input,
button,
select,
label,
[class*="btn-"] {
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
}

input {
    -webkit-appearance: none;
}

label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

legend {
    border: 0;
    white-space: normal;
}

textarea {
    min-height: 5em;
    height: auto;
    vertical-align: top;
    font-family: inherit;
    font-size: inherit;
    resize: vertical;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

/*
* Clickable input types in iOS
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

[type="search"] {
    -webkit-appearance: textfield;
}

/* if select styling bugs on WebKit
* 'x' appears on right of search input when text is entered. This removes it
*/
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/*
* Removes inner padding and border in FF3+
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
* Placeholder
*/
::-webkit-input-placeholder {
    color: $c-txt;
    opacity: 1;
}

input:-moz-placeholder,
input::-moz-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder {
    color: $c-txt;
    opacity: 1;
}

/**
* Remove IE style
*/
select::-ms-expand {
    display: none;
}

/* Style */


[type="text"],
[type="password"],
[type="email"],
[type="search"],
[type="tel"],
textarea,
select {
    background-color: $input-bg;
    border: $input-border;
    padding: $input-padding;
    -webkit-appearance: none;

    &.error {
        color: map-get(map-get($message-types, 'error'), 'color');
        border-color: map-get(map-get($message-types, 'error'), 'border');
    }
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMS4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxNiA5LjEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDkuMTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6Izk5OTk5OTt9DQo8L3N0eWxlPg0KPGc+DQoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTgsOS4xQzcuNyw5LjEsNy40LDksNy4yLDguOEwwLDEuNkwxLjYsMEw4LDYuNUwxNC40LDBMMTYsMS42TDguOCw4LjhDOC42LDksOC4zLDkuMSw4LDkuMXoiLz4NCjwvZz4NCjwvc3ZnPg0K);
    background-repeat: no-repeat;
    background-position: right 1rem top 50%;
    background-size: 1.4rem;
    padding-right: 3.5rem;
}