/*------------------------------------*\
    #LISTING OF ELEMENTS
    1. Full width, if flexbox
\*------------------------------------*/
.listing {
    @extend %unstyled-list;
    @extend %row;
    width: 100%; /* 1 */

    > li {
        padding-left: ($grid-gutter-width / 2) * 1em;
        padding-right: ($grid-gutter-width / 2) * 1em;
        margin-bottom: ($grid-gutter-width) * 1em;
    }


    @include mq($from: phablet){
        &.-three,
        &.-four {
            > li {
                float: left;
                width: 50%;

                &:nth-child(2n + 1){
                    clear: left;
                }
            }
        }
    }


    @include mq($from: phablet){
        &.-three {
            > li {
                width: 33.3333%;

                &:nth-child(2n + 1){
                    clear: none;
                }

                &:nth-child(3n + 1){
                    clear: left;
                }
            }
        }

        &.-two {
            > li {
                float: left;
                width: 50%;

                &:nth-child(2n + 1){
                    clear: left;
                }
            }
        }
    }


    @include mq($from: desktop){
        &.-four {
            > li {
                width: 25%;

                &:nth-child(2n + 1){
                    clear: none;
                }

                &:nth-child(4n + 1){
                    clear: left;
                }
            }
        }
    }
}
